@purple: hsl(264, 100%, 61%);
@pink: hsl(293, 100%, 63%);
@main-gradient: linear-gradient(0deg, @purple, @pink);
@main-gradient-45: linear-gradient(45deg, @purple, @pink);

body{
    background: @main-gradient;
}
